

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'),
  url('/fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: 
  url('/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'),
  url('/fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'),
  url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'),
  url('/fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'),
  url('/fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin-top: 0;
}

:root{
  --active-color: #A47312;
  --link-color: #CC9933;
  --bg-color: #ffffff;

}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333
}

ul{
  list-style: none;
  padding: 0;
}

.flex{
  display: flex;
}

.section{
  margin-bottom: 90px;
}

h1,h2,h3,h4,p,ul{
  margin: 0;
}

.container{
  width: 1770px;
  margin: 0 auto;
  max-width: 95%;
}
.faq__header{
  margin-bottom: 42px;
  line-height: 58px;
}


.header{
   font-size: 48px;
   font-weight: 400;
   line-height: 80px;
   padding-left: 9px;
   margin-bottom: 34px;
}

.btn{
   background: transparent;
   padding: 25px 41px;
   border: none;
   cursor: pointer;
}
.btn_color{
   background-color: var(--link-color);
   color: white;
   font-size: 24px;
   font-weight: 700;
}
.btn_color:hover, .btn_color:focus{
   background-color: rgba(255, 153, 0, 0.9);
   outline: none;
}
.btn_color:active{
   background-color: #E1670E;
}
.btn_trans{
   border: 1px solid #333;
   font-size: 16px;
   font-weight: 400;
   padding: 22px 38px;
}

.section-header{
  font-size: 40px;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  margin-bottom: 20px;
}

.link__arrow{
  background: url('/img/link_arrow.svg') right center no-repeat;
  background-size: 11px;
  padding-right: 20px;
  color: #FFCC66;
}

/* head */
.head{
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.logo{
 margin-left: 54px;
}
.menu{
   padding: 14px 20px;
   align-items: center;
   display: flex;
}
.nav-seath{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__nav-list{
   display: flex;
   align-items: center;
   margin-right: 85px;
   width: 100%;
   font-size: 18px;
   font-weight: 600;  
}
.nav_list{
  display: flex;
  align-items: center;
}
.nav_item:not(:last-child){
  margin-right: 85px;
}
.nav_link{
  position: relative;
}
.nav_link::after{
  position: absolute;
  content: ""; 
  background-color: #FF9900;;
  width: 0; height: 2px;
  bottom: -3px; left: 0;
}
.nav_link:hover::after{
  width: 100%;
}
.nav_link:focus{
  outline: 1px solid #FF9900;
  outline-offset: 1px;
}
.nav_link:active{
  color:#FF9900 ;
}
.seatch:focus{
  outline: 1px solid #ff9900;
  outline-offset: 1px;
}
.seatch:hover rect{
  fill: #FF9900;
}
.seatch:hover path{
  stroke: #ff9900;
}


/* main */
.about_section{
  margin-bottom: 87px;
}
.hero_conteiner{
  background: url(/img/low-angle-photo-of-balconies-2462015\ 1\ \(1\).jpg) center center no-repeat; 
  background-size: cover;
  padding: 100px 80px;
}
.hero_block{
  max-width: 900px;
  color: white;
}
.hero_header{
  margin-left: 10px;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 85px;
}
.hero_text{
  margin-left: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px;
}
.btn{
  margin-left: 10px;
}
.about__header{
  margin-bottom: 9px;
  margin-left: 1px;
}
.about_block{
  display: flex;
}
.about__text{
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
  margin-left: 10px;
}
.about__img{
  max-width: 49%;
  height: 620px;
  margin-left: 9px;
  background: url(/img/Rectangle\ 2.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

}
.about__img_shadow{
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 
.about__img_shadow_text{
   font-size: 16px;
   margin-right: 122px;
   font-weight: 700;
   line-height: 32px;
}
 
.about__img_shadow_button{
   text-align: center;
   width: 175px;
   box-sizing: border-box;
   padding: 0;
   background: transparent;
   color: white;
   border: 3px solid #FF9900;
   font-size: 16px;
   font-weight: 700;
   padding: 20px 38px;
   line-height: 20px;
   box-sizing: border-box;
}
.about__cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__cards__block:not(:last-child){
  margin-bottom:32px;
}
.about__cards__img{
  background: url(/img/круг\ и\ квадрат.svg)left center no-repeat;
  background-size: contain;
  padding-left: 240px;
}
.about__cards__block{
  border: 1px solid black;
  padding: 64px 100px 65px 60px;
  margin-left: 33px;
}
.about__cards__text__head{
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.about__cards__text__para{
  width: 450px;
  font-size: 16px;
  line-height: 32px;
}
.about__cards__img__shardow{
  background: url(/img/Круг\ и\ шестеренка.svg) left center no-repeat;
  background-size: contain;
  padding-left: 237px;
}
/* how_section */
.how_section{
  padding-bottom: 85px;
}
.how_slide_block{
  margin-right: 125px;
}

.how_header{
  margin-left: 1px;
  margin-bottom: 39px;
}
.tabs{
  margin-bottom: 50px;
  font-size: 18px;
  margin-left: 8px;
}
.tabs_link{
  margin-right: 85px;
}
.tabs_link:hover{
  color: #ff9900;
}
.tabs_link:focus{
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}
.tabs_link:active{
  color:#E1670E
}
.how_slide_header{
font-size: 24px;
font-weight: 700;
margin-bottom: 9px;
margin-left: 8px;
}
.how_slide_text{
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
  width:773px;
  margin-left: 8px;
}
.how_btn_1{
    margin-right: 32px;
    font-size: 16px;
    padding: 20px 38px;
    line-height: 19px;
}
.how_btn_2{
  margin-left: 0;
}
.how-slide__picture{
  background: url(/img/Rectangle\ 18.jpg)center center no-repeat; 
  background-size:cover;
  width: 871px;
  max-width:50%;
}
.btn_trans:hover{
  background: #333;
  color: white;
  outline: none;
}
.btn_trans:focus{
  background: #333;
  color: white;
  outline: none;
}
.btn_trans:active{
background: #000;
color: white;
}
/* section_question */
.faq_section{
  margin-bottom: 99px;
   line-height: 58px;
}

.accordion_link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #CACACA;;
  border-bottom: 1px solid #CACACA;;
  margin-top: -1px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
}
.accordion_link:hover{
  border-color: #FF9900;
  color: #FF9900;
  outline: none;
}
.accordion_link:focus{
  border-color: #FF9900;
  color: #FF9900;
  outline: none;
}
.accordion_link:hover path{
  fill: #fff;
}
.accordion_link:focus path{
  fill: #fff;
}
.accordion_link:hover ellipse{
fill: #ff9900;
}
.accordion_link:focus ellipse{
  fill: #ff9900;
  }


/* footer */
.accordion{
  margin-left: 9px;
}
.form{
  margin-left: 317px;
  margin-top: 4px;
}
.footer__container{
  margin-right: 44px;
}
.form__header{
  font-size:48px;
  font-weight: 400;
  color: #cacaca;
  margin-bottom: 25px;
  width: 570px;
  align-items: stretch;
}
.field{
  display: flex;
  width: 100%;
  color: #fff;
  background: #414141;
  border: none;
  outline: none;
  padding: 14px 24px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 32px;
}

.textarea{
  min-height: 150px;
  resize: none;
  margin-bottom: 32px;
}
.footer{
  background-color:#222222;
  padding: 48px 13px;
}

.footer__logo{
  margin-bottom: 17px;
}
.footer__menu{
  margin-right: 35px;
}
.footer__nav{
  color: #CACACA;
  margin-bottom: 55px;
  font-size: 21px;
  line-height: 36px;
  font-weight: 500;
}
.footer__nav__link:hover{
  color: #FF9900;
}
.footer__nav__link:focus{
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}
.social__li:not(:last-child){
  margin-right: 25px;
}
.send_btn{
  padding: 20px 52px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 18px;
}
.social{
  margin-bottom: 50px;
  margin-top: 90px;
}
.social::after{
  color: #FF9900;
}
.social__link:hover path{
fill: #FF9900;
}
.social__link:focus{
outline: 2px solid #ff9900;
outline-offset: 5px;
}
.social__link:active path{
  fill: #E1670E;
}
.custom-checkbox{
  display: none;
}

.footer__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}
.custom-checkbox+label::before {
  content: '';
  margin-bottom: -4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.custom-checkbox:checked+label::before {
  border: 1px solid #CACACA;
  background-image: url("/img/стрелка.jpg");
  background-size: contain;
}
.footer__col{
  display: flex;
  flex-direction: column;
}
.field:hover{
  background-color: #666666;
}
.field:focus{
  background-color: #666666;
}
.field:active{
  background-color: #666666;
}
.field::placeholder{
  color:#cacaca;
  font-size: 16px;
}


.footer__text{
  margin-top: 90px;
  max-width: 363px;
}
.section__text{
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  margin-left: 236px;
}




